# Git and VS Code
.git/
.gitignore
.vscode/

# Virtual Environment
venv/
.venv/

# Python cache and local files
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
.DS_Store

# Notebooks and specific data files
notebooks/
data/lending_club_accepted.csv

# DVC and Test files
.dvc/
dvc_storage/
tests/